.cartao-frente {    
    max-height: 166.75px;
    max-width: 281.25px;

    margin-top: -5.9rem;
    margin-left: 1.4rem;

    z-index: 1;

}

.cartao-frente--logo {
    width: 3.7rem;
    position: absolute;
    left: 2.5rem;
    top: 8.0rem;
}

.cartao-tras {
    max-height: 166.75px;
    max-width: 281.25px;


    margin-top: 1.7rem;
    margin-left: 5rem;
    
    z-index: 0;
}

.cartao-tras__cvc {
    color: hsl(270, 3%, 87%);
    position: relative;
    top: -5.8rem;
    left: 18.4rem;
}

.cartao__container {
    position: absolute;
    left: 2.5rem;
    top: 14.5rem;

    display: flex;
    justify-content: space-between;
    gap: 5rem;
    width: 250px;
}

.cartao__container p {
    font-size: 12px;
}

.cartao__info {
    position: absolute;
    left: 2.4rem;
    top: 12.1rem;
    text-align: center;
    font-size: 19px;
    letter-spacing: 2px;
}

.cartao__info, .cartao__container--nome, .cartao__container--data {
    color: hsl(270, 3%, 87%);
}