.cartao-frente {    
    max-height: 166.75px;
    max-width: 281.25px;

    margin-top: -5.9rem;
    margin-left: 1.4rem;

    z-index: 1;

}

.cartao-frente--logo {
    width: 3.7rem;
    position: absolute;
    left: 2.5rem;
    top: 8.0rem;
}

.cartao-tras {
    max-height: 166.75px;
    max-width: 281.25px;


    margin-top: 1.7rem;
    margin-left: 5rem;
    
    z-index: 0;
}

.cartao-tras__cvc {
    color: hsl(270, 3%, 87%);
    position: relative;
    top: -5.8rem;
    left: 18.4rem;
}

.cartao__container {
    position: absolute;
    left: 2.5rem;
    top: 14.5rem;

    display: flex;
    justify-content: space-between;
    gap: 5rem;
    width: 250px;
}

.cartao__container p {
    font-size: 12px;
}

.cartao__info {
    position: absolute;
    left: 2.4rem;
    top: 12.1rem;
    text-align: center;
    font-size: 19px;
    letter-spacing: 2px;
}

.cartao__info, .cartao__container--nome, .cartao__container--data {
    color: hsl(270, 3%, 87%);
}

@media screen and (min-width: 1024px) {
    .cartoes_container {
        width: 30%;
        height: 100%;
       
        transform: translate(6rem, 2rem);
    }
    
    .cartao-frente {    
        max-height: 166.75px;
        max-width: 281.25px;

        position: absolute;
        left: 18%;
        top: 20%;

    }

    .cartao-frente--logo {
        left: 7.3rem;
        top: 3.2rem;
        z-index: 1;
    }

    .cartao__info {
        position: absolute;
        left: 7.2rem;
        top: 8rem;
        z-index: 1;   
    }

    .cartao__container {
        position: absolute;
        left: 7rem;
        top: 10.2rem;  

         z-index: 1;   
    }

    .cartao-tras, .cartao-tras__cvc {
        position: absolute;
        left: 20%;
        top: 28%;
    }

    .cartao-tras {
        max-height: 166.75px;
        max-width: 281.25px;
    }

    .cartao-tras__cvc {
        color: hsl(270, 3%, 87%);

        transform: translate(18.5rem, 5.7rem);

        z-index: 1;
    }
}