* {
    margin: 0;
    padding: 0;

    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;

    font-family: 'Space Grotesk', sans-serif;
    font-size: 16px;

    overflow-x: hidden;
}

main {
    background-image: url(../images/bg-main-mobile.png);
    background-repeat: no-repeat;
    background-position: 0 -.2rem;
    background-size: 100%;

    width:100vw;
    height: 100vh;
}

@media screen and (min-width: 1024px) {
    main {
        background-image: url(../images/bg-main-desktop.png);
        background-repeat: no-repeat;
        background-position: -90% 0;
        background-size: 819px;
        
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

}

@media screen and (min-width: 1440px) {
    main {
        background-size: 1220px;
    }
}


