* {
    margin: 0;
    padding: 0;

    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100%;
}

main {
    background-image: url(../images/bg-main-mobile.png);
    background-repeat: no-repeat;
    background-position: 0 -10%;
    background-size: 100%;

    width:100vw;
    height: 100vh;
}

.formulario {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container-align {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}